#list-group-container {
  height: 100vh;
  width: 30vw;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#list-group-container-heading{
  font-family: Roboto;
font-size: 35px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0.02em;
text-align: left;

  margin-top:70px;
  margin-bottom: 20px;
}
#add-Notes-Button {
 height: 60px;
 width: 60px;
  padding: 0;
  margin: 20px;
  position: sticky;
  top:100vh;
  left: 30vw;
  border-radius: 50%;
  background-color: #16008b;
  border-style: none;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 4px 0px #000000;
  
}

#add-Notes-Button:active {
    box-shadow: 0px 0px 0px 0px #000000;
    
  }

 
#no-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-height: 200px;
}
#no-notes img {
  width: 400px;
  height: auto;
}

#list-notes-container{
  overflow:auto;

  height: 70vh;
}

#list-notes-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  #list-group-container{
    width: 100vw;
    /* background-color: red; */
  }

  #add-Notes-Button{
    left:100vw;
  }
  
}