/* #notes-container{
    background-color: #DAE5F5;
    height: 100vh;
    min-height: 700px;
    min-width: 900px;
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;

} */