#list-view-conatiner{
    background-color: #DAE5F5;
    height: 100vh;
    
    /* min-width: 500px; */
    min-height: 500px;
    width:70vw;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin: 0%;
    padding: 0%;

}

#list-view-header{
    background: #001F8B;
    width:70vw;
    /* min-width: 500px; */
    height: 10vh;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
#notes-group-logo{
    width: 69px;
    height: 69px;
    min-width: 69px;
    
    color: white;
    background-color: #0047FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

    
}

#notes-group-title{
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.02em;
text-align: left;
margin: 10px;
color: white;
}


#list-view-notes-container{
    width: 69vw;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
   

    
}

#text-input-container{

    height: 30vh;
    background-color:  #001F8B;
    width: 70vw;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    

}
#input-area-and-button{
    display: flex;
    background-color: white;
    height: 22vh;
    width: 65vw;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-around;
    align-items: flex-end;
}
#input-area-and-button textarea
{
    border-style: none;
    height: 21vh;
    margin-top: 5px;
    width: 65vw;
    overflow: auto;
    padding: 0%;
    

    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.02em;
text-align: left;
box-sizing: border-box;
resize: none;
outline: none;
padding: 10px;
padding-top: 5px;
    
}
#input-area-and-button textarea::placeholder{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    box-sizing: border-box;
    resize: none;
    outline: none;
    padding: 10px;
    color: #9A9A9A;

}
#input-area-and-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-style: none;
    padding: 0%;
    margin: 0%;
    margin-bottom: 10px;
    margin-right: 10px;
    
 }

 #back-arrow{
    background-color: #001F8B;
    border-style: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
    padding-right: 0;
    


 }

 
@media (max-width: 800px) {
    #list-view-conatiner{
      width: 100vw;
      /* background-color: red; */
    }
    #list-view-header{
        width: 100vw;
    }
    #text-input-container{
        width: 100vw;
    }
    #input-area-and-button{
        width: 95vw;
    }
    #input-area-and-button textarea{
        width: 95vw;
    }

    #list-view-notes-container{
        width: 95vw;
    }

    
}